@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

@import 'reset.css';

/*  Components */
@import 'components/status-bar.css';
@import 'components/nav-bar.css';
@import 'components/srceen-header.css';
@import 'components/friends.css';
/* Screens */
@import 'screens/login.css';
:root {
  --text-color: tomato;
  --background-color: beige;
  --grey-color: #f9f9fa;
  --yellow: #fae100;
}
body {
  height: 1000vh;
  font-family: 'Open Sans', sans-serif;
  color: #2e363e;
}
a {
  text-decoration: none;
}
