@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

@import 'reset.css';

/*  Components */
@import 'components/status-bar.css';
@import 'components/nav-bar.css';
@import 'components/srceen-header.css';
@import 'components/friends.css';
@import 'components/usercomponents.css';
/* Screens */
@import 'screens/login.css';
:root {
  --text-color: tomato;
  --background-color: beige;
  --grey-color: #f9f9fa;
  --yellow: #fae100;
  --horizontal-space: 25px;
}
body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  background-image: url('img/그림4.png');
  color: #2e363e;
}
a {
  color: #2e363e;
  text-decoration: none;
}
.main-screen {
  padding: 0 var(--horizontal-space);
}
