.screen-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin: 15px 0;
}
.screen-header .header__title {
  font-size: 28px;
  font-weight: 600;
}

.screen-header .header__icons span {
  margin-left: 15px;
}
.friends-screen {
  padding: 0 var(--horizontal-space);
}
