.status-bar {
  position: fixed;
  top: 5px;
  width: 100%;

  display: flex;
  box-sizing: border-box;
  justify-content: center;
}
.status-bar__column {
  width: 33%;
  background: url('img/그림4.png');
}
.status-bar__column:first-child span {
  margin-right: 5px;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.status-bar__column .fa-battery-quarter {
  margin: 0 3px;
}
